<script setup lang="ts">
import { onMounted } from 'vue'
import { getTokenFromAuthCode } from '@/services/spotifyAuth'
import router from '@/router'
import { useTokenStore } from '@/stores/token'

// Call my service on the onMounter cycle to retrive user Token with Spotify code returned
onMounted(async () => {
  const token = useTokenStore()
  // Try get code from URL
  const urlParams = new URLSearchParams(window.location.search)
  const code = urlParams.get('code')
  // Store code in context if found and call service to get token
  if (code) {
    token.setCode(code)
    const accessToken = await getTokenFromAuthCode(code)
    token.setToken(accessToken)
    if (token.token.length > 0) {
      return router.push('/playlists')
    }
  }
  // Redirect to home if no code or no token found
  router.push('/')
})
</script>

<template>
  <div class="flex items-center gap-4">
    <span class="loader"></span>
    <h1>Chargement ...</h1>
  </div>
</template>

<style scoped>
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid black;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #1db954;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
</style>
@/router/Store
