<script setup lang="ts">
import { CreatePlaylist, AddTracksToThePlaylist } from '@/services/createPlaylist'
import type { CreatePlaylistDto } from '@/dto/createPlaylistDto'
import TheSongSearchBarVue from '@/components/atoms/TheSongSearchBar.vue'
import type { TrackType } from '@/types/SearchedItem'
import { ref } from 'vue'
import router from '@/router'

// TODO : Créer la logique pour créer une playlist dans un service externe
const playlistName = defineModel('playlistName', { type: String, required: true })
const playlistDescription = defineModel('playlistDescription', { type: String, required: false })
const playlistDuration = defineModel('playlistDuration', { type: String, required: true })
const selectedSong = ref(null as TrackType | null)
const loader = ref(false)

const setSelectedSong = (song: TrackType) => {
  selectedSong.value = song
}

const createPlaylist = async (playlist: CreatePlaylistDto) => {
  const regex = new RegExp('[c|C]hronolist')
  // Verification : Le nom de la playlist doit contenir Chronolist ou chronolist
  if (!playlist.name.match(regex)) {
    alert('Le nom de la playlist doit contenir Chronolist')
    return
  }
  const playlistId = CreatePlaylist(playlist)
  if (!playlistId) {
    console.error('Playlist not found')
    return
  }

  // fetchPlaylist()

  const getSelectedSongURI = selectedSong.value!.id
  const getListOfArtistsURI = selectedSong.value!.artists.map((artist) => artist.id)

  AddTracksToThePlaylist(
    await playlistId,
    getSelectedSongURI,
    getListOfArtistsURI,
    playlistDuration.value
  )

  // Rediriger l'utilisateur vers la page de la playlist
  const URL = '/playlist/' + (await playlistId)

  // Timer de 3 secondes pour laisser le temps à l'API de créer la playlist
  loader.value = true
  setTimeout(() => {
    // fetchPlaylist()
    router.push(URL)
    loader.value = false
  }, 3000)
}
</script>

<template>
  <div>
    <h2>Créer une playlist</h2>
    <div v-if="loader" class="flex items-center rounded justify-center h-96 gap-8">
      <span class="loader"></span>
      <h1>Création en cours ...</h1>
    </div>
    <form v-else class="flex flex-col gap-8">
      <div class="flex gap-8">
        <div class="flex flex-col gap-4 w-2/4">
          <label for="playlistName" class="text-slate-500">Nom de la playlist *</label>
          <input
            v-model="playlistName"
            type="text"
            id="playlistName"
            name="playlistName"
            class="bg-white p-4 rounded-xl shadow-sm border border-slate-200 focus:outline-none focus:ring-2 focus:ring-spotify focus:border-transparent transition-all duration-300 ease-in-out"
            placeholder="Chronolist"
            required
          />
        </div>
        <div class="flex flex-col gap-4 w-2/4">
          <label for="playlistDescription" class="text-slate-500">Description de la playlist</label>
          <input
            v-model="playlistDescription"
            type="text"
            id="playlistDescription"
            name="playlistDescription"
            class="bg-white p-4 rounded-xl shadow-sm border border-slate-200 focus:outline-none focus:ring-2 focus:ring-spotify focus:border-transparent transition-all duration-300 ease-in-out"
            placeholder="Playlist de 15 minutes pour le sport"
          />
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <label for="playlistDuration" class="text-slate-500">Durée de la playlist *</label>
        <!-- Transform duration from time to minutes -->
        <input
          v-model="playlistDuration"
          type="time"
          id="playlistImage"
          name="playlistImage"
          class="bg-white p-4 rounded-xl shadow-sm border border-slate-200 focus:outline-none focus:ring-2 focus:ring-spotify focus:border-transparent transition-all duration-300 ease-in-out"
          placeholder="Chronolist"
          required
        />
      </div>
      <div class="flex gap-8 items-end">
        <div>
          <p for="playlistStyle" class="text-slate-500 mb-4">Musique de référence</p>
          <TheSongSearchBarVue @selected-song="setSelectedSong" />
        </div>
        <div v-if="selectedSong">
          <div class="flex items-center gap-4">
            <img :src="selectedSong.album.images[0].url" alt="" class="w-20" />
            <p>{{ selectedSong.name + ' - ' + selectedSong.artists[0].name }}</p>
          </div>
        </div>
      </div>
      <div>
        <button
          type="submit"
          @click.prevent="
            createPlaylist({
              name: playlistName,
              description: playlistDescription,
              duration: playlistDuration
            })
          "
          class="button btn-spotify-styled font-bold bg-spotify text-white px-6 py-3 flex gap-3 items-center rounded shadow-sm mt-8"
        >
          Créer
        </button>
      </div>
    </form>
  </div>
</template>

<style scoped>
.btn-spotify-styled {
  transition: all 0.3s;
  box-shadow: 0 6px 0 #378631;
}

.btn-spotify-styled:hover {
  transform: translateY(2px);
  box-shadow: 0 4px 0 #378631;
}

.btn-spotify-styled:active {
  transform: translateY(10px);
  box-shadow: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #378631;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}
.loader:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #378631;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes pulse {
  0%,
  60%,
  100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}
</style>
