<script setup lang="ts">
import AppWaveBg from '@/components/AppWaveBg.vue'
import router from '@/router'
import { useTokenStore } from '@/stores/token'
import { useUserStore } from '@/stores/user'
import { requestUserWithToken } from '@/services/requestUserWithToken'
import { onBeforeMount } from 'vue'
import TheDashboardNav from '@/components/organisms/TheDashboardNav.vue'
import { RouterView } from 'vue-router'

const token = useTokenStore()
const user = useUserStore()

onBeforeMount(async () => {
  if (!token.token) {
    router.push('/')
    return
  }
  const User = await requestUserWithToken(token.token)
  user.setUser(User)
})
</script>

<template>
  <div>
    <AppWaveBg />
    <h1 class="flex items-center gap-2">
      Dashboard
      <img
        src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Objects/Musical%20Notes.png"
        alt="Musical Notes"
        width="60"
        height="60"
      />
    </h1>
    <div class="dashboard bg-veryLightGray shadow-xl rounded-md flex">
      <aside class="w-1/4 bg-white rounded-l-md p-8">
        <TheDashboardNav />
      </aside>
      <main class="flex-grow my-8 mx-16 rounded-md h-600px">
        <RouterView />
      </main>
    </div>
  </div>
</template>

<style scoped></style>
