<script setup lang="ts">
import AppWaveBg from '@/components/AppWaveBg.vue'
import { authFlow } from '@/services/spotifyAuth'

const loginWithSpotify = () => {
  authFlow()
}
</script>

<template>
  <main>
    <AppWaveBg />
    <h1 class="flex items-center gap-2">
      Bienvenue sur Chronolist !
      <img
        src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Hand%20gestures/Waving%20Hand.png"
        alt="Waving Hand"
        width="60"
        height="60"
        class="mb-3"
      />
    </h1>
    <p class="opacity-50">
      Heureux de vous voir parmis nous, connectez vous grace a votre compte Spotify !
    </p>
    <div class="about grid grid-cols-3 gap-10 mt-20">
      <div class="p-10 bg-white rounded shadow-xl">
        <h2>Qu'est-ce que Chronolist ?</h2>
        <p>
          Chronolist est une application web qui vous permet de créer des playlists collaboratives
          avec vos amis. Vous pouvez ajouter des musiques à une playlist, et vos amis pourront
          également ajouter des musiques à cette playlist. Vous pourrez ainsi créer des playlists
          avec vos amis, pour vos soirées, vos voyages, ou tout simplement pour partager vos
          musiques préférées.
        </p>
      </div>
      <div class="p-10 bg-white rounded shadow-xl">
        <h2>Pourquoi Chronolist ?</h2>
        <p>
          Chronolist est une application web qui vous permet de créer des playlists collaboratives
          avec vos amis. Vous pouvez ajouter des musiques à une playlist, et vos amis pourront
          également ajouter des musiques à cette playlist. Vous pourrez ainsi créer des playlists
          avec vos amis, pour vos soirées, vos voyages, ou tout simplement pour partager vos
          musiques préférées.
        </p>
      </div>
      <div class="p-10 bg-white rounded shadow-xl">
        <h2>Des prérequis ?</h2>
        <p class="mb-12">
          Afin d'utiliser Chronolist, vous aurez besoin d'un compte
          <strong>Spotify Premium</strong>. Vous pourrez vous connecter à votre compte Spotify, et
          ainsi créer des playlists chronometre !
        </p>
        <button
          class="button btn-spotify-styled bg-black text-white px-6 py-3 flex gap-3 items-center rounded shadow-sm"
          @click="loginWithSpotify"
        >
          <img src="../assets/spotify.png" />Se connecter avec Spotify
        </button>
      </div>
    </div>
  </main>
</template>

<style scoped></style>
