<script setup lang="ts">
import router from '@/router'
import { usePlaylistsStore } from '@/stores/playlists'
import { computed, ref, watch } from 'vue'
import { useRoute } from 'vue-router'

const route = useRoute()
const playlistId = ref(route.params.id.toString())

const playlistsStore = usePlaylistsStore()

const findPlaylist = (id: string) => {
  return playlistsStore.playlists!.find((playlist) => playlist.id === id)
}
// const playlist = findPlaylist(playlistId.value)
const playlist = computed(() => findPlaylist(playlistId.value))

if (!playlist.value) {
  console.error('Playlist not found')
  // Redirect to playlists view
  router.push('/playlists')
}

watch(route, () => {
  playlistId.value = route.params.id.toString()
})

const iframeURL = computed(() => {
  return `https://open.spotify.com/embed/playlist/${playlistId.value}`
})
</script>

<template>
  <div class="flex gap-4">
    <div class="w-2/4">
      <h2 class="mb-8">Panneau de controle</h2>
      <div class="flex flex-col gap-10">
        <div>
          <h4 class="mb-4">Informations</h4>
          <p class="mb-4"><strong>Nom:</strong> {{ playlist?.name }}</p>
          <p class="mb-4">
            <strong>Description:</strong>
            {{ playlist?.description ? playlist?.description : 'Pas de description' }}
          </p>
        </div>
        <div>
          <h4 class="mb-4">Suppression</h4>
          <p class="mb-4">
            Pour supprimer la playlist, vous devez passer par l'application Spotify
          </p>
          <a :href="playlist?.uri" class="text-spotify mb-4">Lien vers l'application</a>
        </div>
      </div>
    </div>
    <div class="w-2/4">
      <iframe
        style="border-radius: 12px"
        :src="iframeURL"
        width="100%"
        height="600"
        frameBorder="0"
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
      ></iframe>
    </div>
  </div>
</template>

<style scoped></style>
