<script setup lang="ts">
import { usePlaylistsStore } from '@/stores/playlists'

const playlistsStore = usePlaylistsStore()
</script>

<template>
  <div>
    <h2>Toutes mes playlists Chronolist</h2>
    <div v-if="playlistsStore.playlists && playlistsStore.playlists.length === 0">
      <p class="opacity-50">Vous n'avez pas encore de playlists Chronolist</p>
      <router-link to="/create" class="text-spotify">Créer une playlist →</router-link>
    </div>
    <div v-else class="flex gap-8 flex-wrap">
      <div v-for="playlist in playlistsStore.playlists" :key="playlist.id">
        <div
          class="bg-white p-6 rounded-xl shadow-sm border border-slate-200 hover:translate-y-1 hover:shadow-md transition-all duration-30"
        >
          <router-link :to="`/playlist/${playlist.id}`">
            <h3 class="mb-4">{{ playlist.name }}</h3>
            <p>{{ playlist.description ? playlist.description : 'Pas de description' }}</p>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>
