<script setup lang="ts">
import { useUserStore } from '@/stores/user'
const { accountType, email, username } = useUserStore()
</script>

<template>
  <div>
    <h2>Informations du compte</h2>
    <div class="flex flex-col gap-2 bg-white rounded-md w-fit p-6">
      <h4 class="mb-4">Compte Spotify lié</h4>
      <p>Nom d'utilisateur: {{ username }}</p>
      <p>Email: {{ email }}</p>
      <p>
        Type de compte: Spotify {{ accountType.charAt(0).toUpperCase() + accountType.slice(1) }}
      </p>
      <a class="text-red-600 mt-4 cursor-pointer w-fit hover:underline">Dissocier le compte</a>
    </div>
  </div>
</template>
