<script setup lang="ts">
import { RouterView } from 'vue-router'
import TheMainNav from './components/TheMainNav.vue'
</script>

<template>
  <div class="container mx-auto h-screen overflow-hidden p-10">
    <header class="pb-20">
      <TheMainNav />
    </header>

    <RouterView />
  </div>
</template>

<style scoped></style>
