<script setup lang="ts">
import { onMounted } from 'vue'
import { usePlaylistsStore } from '@/stores/playlists'
import { fetchPlaylist } from '@/services/fetchPlaylist'

const playlistsStore = usePlaylistsStore()

onMounted(async () => {
  // First, check if playlists state is null or [].
  // If null, fetch them from the API and store them in the store
  if (!playlistsStore.playlists) {
    playlistsStore.setPlaylists(await fetchPlaylist())
  }
})

const refreshPlaylists = async () => {
  if (playlistsStore.timer === 300) {
    playlistsStore.startTimer()
    playlistsStore.setPlaylists(await fetchPlaylist())
  }
}

console.log('store playlist', playlistsStore.playlists)
</script>

<template>
  <nav>
    <ul>
      <div class="flex items-center mb-10 gap-4">
        <h3>Mes playlists</h3>
        <button
          class="button btn-spotify-styled font-bold text-white px-4 flex gap-3 items-center rounded shadow-sm"
          :class="playlistsStore.timer !== 300 ? 'bg-gray-400 disabled' : 'bg-spotify'"
          @click="refreshPlaylists"
          :disabled="playlistsStore.timer !== 300"
        >
          Scanner
          {{
            playlistsStore.timer !== 300
              ? `(${Math.floor(playlistsStore.timer / 60)}:${playlistsStore.timer % 60})`
              : ''
          }}
        </button>
      </div>
      <div v-if="playlistsStore.playlists && playlistsStore.playlists.length === 0">
        <p class="opacity-50">Vous n'avez pas encore de playlists Chronolist</p>
        <router-link to="/create" class="text-spotify">Créer une playlist →</router-link>
      </div>
      <li v-for="playlist in playlistsStore.playlists" :key="playlist.id" class="mb-6">
        <router-link :to="`/playlist/${playlist.id}`">{{ playlist.name }}</router-link>
      </li>
      <h4 class="mt-10 text-spotify"><router-link to="/playlists">Tout voir →</router-link></h4>
    </ul>
    <hr class="my-8" />
    <ul>
      <li>
        <h3><router-link to="/profile">Parametres du profil</router-link></h3>
      </li>
    </ul>
  </nav>
</template>

<style scoped>
.btn-spotify-styled {
  transition: all 0.3s;
  box-shadow: 0 6px 0 #378631;
}

.btn-spotify-styled:hover {
  transform: translateY(2px);
  box-shadow: 0 4px 0 #378631;
}

.btn-spotify-styled:active {
  transform: translateY(10px);
  box-shadow: none;
}

.button.disabled {
  cursor: not-allowed;
  box-shadow: 0 4px 0 #5f5f5f;
}
.button.disabled:hover {
  transform: none;
  box-shadow: 0 4px 0 #5f5f5f;
}

.button.disabled:active {
  transform: none;
  box-shadow: 0 4px 0 #333333;
}
</style>
