<script setup lang="ts">
import { reactive } from "vue";
import TheToDoSubmit from "../molecules/TheToDoSubmit.vue";
import { Todo } from "../../types";

const todos: Todo[] = reactive([
  {
    id: 1,
    text: "Faire les courses",
    done: false,
    time: "12:00",
    assignee: "John",
  },
  {
    id: 2,
    text: "Acheter du pain",
    done: true,
    time: "12:30",
    assignee: "Jane",
  },
  {
    id: 3,
    text: "Faire du sport",
    done: false,
    time: "13:00",
    assignee: "Joe",
  },
]);
const pushTodo = (todo: Todo) => {
  console.log(todo);
  if (todo.text === "") return;
  todos.push(todo);
};

const toDoComplete = (id: number) => {
  const index = todos.findIndex((todo) => todo.id === id);
  todos[index].done = !todos[index].done;
};
</script>

<template>
  <TheToDoSubmit
    :todos="todos"
    @addTodo="pushTodo"
    :todosLength="todos.length"
  />
  <ul>
    <li v-for="todo in todos" :key="todo.id">
      <div class="flex">
        <input
          type="checkbox"
          @click="toDoComplete(todo.id)"
          :checked="todo.done"
        />
        <span :class="todo.done ? 'ray' : ''">{{ todo.text }}</span>
        <div>{{ todo.assignee }}</div>
        <div>{{ todo.time }}</div>
      </div>
    </li>
  </ul>
</template>

<style scoped>
ul {
  width: 100%;
  list-style: none;
  padding: 0;
  text-align: left;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

span {
  flex-grow: 1;
  text-align: left;
}

.ray {
  text-decoration: line-through;
  color: #ccc;
}
</style>
