<script setup lang="ts">
defineProps({
  id: String,
  options: Array<String>,
  selected: String,
});

const $emit = defineEmits(["change"]);
</script>
<template>
  <div>
    <select v-bind:id="id">
      <option v-for="option in options" :key="id" :value="selected">
        {{ option }}
      </option>
    </select>
  </div>
</template>
<style scoped>
select {
  padding: 0.5rem 1rem;
}
</style>
