<script setup lang="ts">
defineProps({
  name: String,
  placeholder: String,
});
</script>

<template>
  <input type="text" v-bind:placeholder="placeholder" v-bind:name="name" />
</template>

<style scoped>
input {
  border: none;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #000;
  background: transparent;
  flex-grow: 1;
}
</style>
