<script setup lang="ts">
const props = defineProps({
  user: {
    type: Object,
    required: true
  }
})
</script>

<template>
  <div class="flex gap-2 items-center">
    <img v-if="props.user.image.length > 0" :src="props.user.image" alt="" />
    <p
      class="flex items-center justify-center w-12 h-12 bg-slate-600 text-white font-bold rounded-full text-xl"
      v-else
    >
      {{ props.user.username[0].toUpperCase() }}
    </p>
    <div>
      <p>
        <strong>{{ props.user.username }}</strong>
      </p>
      <p>Spotify {{ props.user.accountType }}</p>
    </div>
  </div>
</template>

<style scoped></style>
