<script setup lang="ts">
import axios from 'axios'
import { ref } from 'vue'
import { useTokenStore } from '@/stores/token'
import type { SearchedItem } from '@/types/SearchedItem'
import type { TrackType } from '@/types/SearchedItem'

const tokenStore = useTokenStore()
const inputSearch = defineModel('inputSearch', { type: String, required: false })
const modalState = ref(false)
const searchResult = ref(null as SearchedItem | null)
const items = ref(null as TrackType[] | null)
const emit = defineEmits(['selectedSong'])

const openModal = () => {
  modalState.value = true
}
const closeModal = () => {
  modalState.value = false
}

const searchSongWithSpotifyAPI = async (): Promise<void> => {
  return axios
    .get(`https://api.spotify.com/v1/search?q=${inputSearch.value}&type=track`, {
      headers: {
        Authorization: `Bearer ${tokenStore.token}`
      }
    })
    .then((response) => {
      searchResult.value = response.data
      items.value = response.data.tracks.items
      console.log('Search Result', searchResult)
    })
    .catch((error) => {
      console.error(error)
    })
}
</script>

<template>
  <button
    class="w-fit button bg-black text-white px-6 py-3 flex gap-3 items-center rounded"
    @click.prevent="openModal"
  >
    {{ items ? 'Changer de musique' : 'Ajouter une musique' }}
  </button>
  <div class="modal" v-if="modalState">
    <div class="modal__box bg-veryLightGray p-10 rounded w-2/4">
      <h2>Chercher une musique</h2>
      <div class="flex gap-4">
        <input
          v-model="inputSearch"
          type="text"
          class="w-full bg-white p-4 rounded-xl shadow-sm border border-slate-200 focus:outline-none focus:ring-2 focus:ring-spotify focus:border-transparent transition-all duration-300 ease-in-out"
          placeholder="Rechercher une chanson"
          required
        />
        <button
          class="button btn-spotify-styled font-bold bg-spotify text-white px-6 py-2 flex gap-3 items-center rounded shadow-sm"
          @click.prevent="searchSongWithSpotifyAPI"
        >
          Chercher
        </button>
      </div>
      <div class="mt-10 overflow-y-scroll max-h-96">
        <div v-for="result in items" :key="result.id" class="flex gap-4 mb-4 items-center">
          <img :src="result.album.images[0].url" alt="" class="w-20" />
          <p class="flex-grow">{{ result.name + ' - ' + result.artists[0].name }}</p>
          <button
            class="button btn-spotify-styled font-bold bg-spotify text-white px-2 py-2 flex gap-3 items-center rounded shadow-sm mr-2"
            @click.prevent="
              () => {
                emit('selectedSong', result)
                closeModal()
              }
            "
          >
            Selectionner
          </button>
        </div>
      </div>
      <button class="close-button" @click.prevent="closeModal">X Fermer</button>
    </div>
  </div>
</template>

<style scoped>
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__box {
  position: relative;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 40px;
  cursor: pointer;
  color: red;
}

.btn-spotify-styled {
  transition: all 0.3s;
  box-shadow: 0 6px 0 #378631;
}

.btn-spotify-styled:hover {
  transform: translateY(2px);
  box-shadow: 0 4px 0 #378631;
}

.btn-spotify-styled:active {
  transform: translateY(10px);
  box-shadow: none;
}
</style>
