<script setup>
import TheToDoForm from "../components/organisms/TheToDoForm.vue";
</script>

<template>
  <div class="h-screen flex flex-col is-center container">
    <h1>To do list</h1>
    <TheToDoForm />
  </div>
</template>

<style scoped>
.flex {
  display: flex;
}

.flex.flex-col {
  flex-direction: column;
}

.flex.is-center {
  align-items: center;
}

.h-screen {
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}
</style>
