<template>
  <div class="wave">
    <img src="../assets/wave-spotify.svg" alt="" />
    <img src="../assets/wave-bg-spotify.svg" alt="" />
  </div>
</template>

<style scoped>
.wave img {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.wave img:nth-child(2) {
  z-index: -2;
}
</style>
