<script setup lang="ts">
import { authFlow } from '@/services/spotifyAuth'
import { useUserStore } from '@/stores/user'
import AppProfileDisplay from '@/components/atoms/AppProfileDisplay.vue'

const user = useUserStore()

const loginWithSpotify = () => {
  authFlow()
}
</script>

<template>
  <nav class="flex flex-row justify-between items-center">
    <p class="font-bold brand text-spotify">Chronolist</p>
    <ul class="router flex gap-8 items-center">
      <router-link to="/">Accueil</router-link>
      <!-- TODO : Protect this route for auth user only -->
      <router-link to="/playlists">Mes playlists</router-link>
      <router-link to="/create">Créer une playlist</router-link>
      <router-link v-if="user.username" to="/profile">
        <AppProfileDisplay :user="user" />
      </router-link>
      <img :src="user.image" alt="" />
      <button
        v-if="!user.username"
        class="button btn-spotify-styled font-bold bg-spotify text-white px-6 py-3 flex gap-3 items-center rounded shadow-sm"
        @click="loginWithSpotify"
      >
        <img src="../assets/spotify.png" />Se connecter avec Spotify
      </button>
    </ul>
  </nav>
</template>

<style scoped>
.brand {
  font-size: 1.5rem;
}

.btn-spotify-styled {
  transition: all 0.3s;
  box-shadow: 0 6px 0 #378631;
}

.btn-spotify-styled:hover {
  transform: translateY(2px);
  box-shadow: 0 4px 0 #378631;
}

.btn-spotify-styled:active {
  transform: translateY(10px);
  box-shadow: none;
}
</style>
