<script setup lang="ts">
import { reactive, ref } from "vue";
import AppTextInput from "../atoms/AppTextInput.vue";
import AppSelector from "../atoms/AppSelector.vue";

const props = defineProps({
  todosLength: Number,
});

const input = ref("");
const emit = defineEmits(["addTodo"]);

const persons = reactive([
  { id: 1, name: "John" },
  { id: 2, name: "Jane" },
  { id: 3, name: "Joe" },
]);
const selectorOptions = persons.map((person) => person.name);

const time = reactive(["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]);

const addTodo = () => {
  const newTodo = {
    id: props.todosLength! + 1,
    text: input.value,
    time: "1",
    done: false,
    assignee: "John",
  };
  emit("addTodo", newTodo);
};

const bindInput = (event: Event) => {
  const target = event.target as HTMLInputElement;
  input.value = target.value;
};
</script>

<template>
  <div class="content">
    <button @click="addTodo">Add</button>
    <AppTextInput name="todo" placeholder="Fix le bug..." @input="bindInput" />
    <AppSelector id="person" v-bind:options="selectorOptions" selected="John" />
    <AppSelector id="time" v-bind:options="time" selected="1" />
    <!-- Solution simple : Utiliser un v-model pour chaque input -->
  </div>
</template>

<style scoped>
.content {
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
</style>
